@media (min-device-width: 1051px){
    #mobile-menu-open{
        display: none;
    }

    #map, #accessInformations{
        width: 100vw;
        margin-top: 10vh;
    }
    #accessContent{

        display: flex;
        min-height: 100vh;

    }
}


#accessInformations h1, #accessInformations h2{
    margin-left: 50px;
    color: rgb(3,1,30);
    font-family: 'Neuton', serif;
    font-weight: normal;
}
/*Specify stuff*/
#accessInformations h1{
    font-size: xxx-large;
}
#accessInformations h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
}
#commute{
    display: flex;
    flex-wrap: wrap;
}
.commuteTimetable{
    border: 0;
    width: 600px;

    margin: 0 40px;
}
