/* Manange general stuff*/
body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    display: none;
}
::-moz-focus-inner {border:0;}
:focus {outline:none;}

/*specidy default font family */
p, h3{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}
a, a:link, a:visited{
    text-decoration: none;
}
