footer{
    background-color: rgb(3,1,40);
    color: white;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
footer div{
    width: 25vw;
    padding: 0 20px
}
footer div h3{
    padding: 50px 0 0 0 ;
    font-size: large;
    margin : 0

}
#info p{
    padding-right: 5vw;
}
#socialMedia a img {
    height: 60px;
    padding-top: 20px;
    padding-right: 20px;
}

#info a, #Contact a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s ease-out;
}
#info a:hover, #info a:focus, #Contact a:hover, #Contact a:focus {
    background-size: 100% 1px;
}

#info a{
    color: rgba(255,255,255,.7);
}