
header{
    position: fixed;
    height: 10vh;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    z-index: 5;

    background-color: rgb(3, 1, 40);
    box-shadow: 0 2px 4px rgba(0 ,0, 0, .5);
    transition: .3s;

}

#logoCorner{
    height: 7vh;
    top : 1.5vh;
    left: 20px;
    position: fixed;
    z-index: 6;
}
nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: .2s;

}
#nav-item-list{
    display: block;
}
.nav-item{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0 10px;
    margin: 10px 20px;
    transition: .2s;

}

.nav-item a {

    font-family: Neuton, sans-serif;
    font-size: x-large;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s ease-out;

}

.nav-item a:hover, .nav-item a:focus {
    background-size: 100% 2px;
}
