@media (min-device-width: 1051px){
    #mobile-menu-open{
        display: none;
    }
    /*specify a size on desktop*/
    .artist{
        width: 400px;
    }
}
body{
    background-repeat: no-repeat;
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    background-attachment: fixed;
    background-image: url("../assets/background.webp");
}

/*Manage the nav bar at the top*/
header{
    position: fixed;
    height: 10vh;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 5;
    background-color: rgba(3,1,40,0);
    box-shadow: 0 2px 4px rgba(0 ,0, 0, .5);
    transition: 0.3s;

}
#logoCorner{
    height: 7vh;
    top : 1.5vh;
    left: 20px;
    position: fixed;
    opacity: 0;
    z-index: 6;

}
nav{
    display: flex;
    align-items: center;
    margin-left: auto;

}
.nav-item{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0 10px;
    margin: 10px 20px;
}
.nav-item a {
    font-family: 'Neuton', serif;
    font-size: x-large;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .2s ease-out;

}
.nav-item a:hover, .nav-item a:focus {
    background-size: 100% 2px;
}

#landingPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoGala{
    height: 40vh;
    width: 40vw;
    opacity: 1;

}
#content{
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    width: 100vw;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    box-shadow: 0 0 0 rgba(0 0 0 .5);

}
#content h2 {
    padding: 5vh 0 0 0;
    font-family: 'Neuton', serif;
    font-size: xxx-large;
    font-weight: lighter;
    color : rgb(3 1 30);
}

#presentation p {

    padding: 40px 20vw ;

    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}
p#ae {

    padding: 0 20vw;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
}
#presentation ul{
    list-style: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: left;
    padding: 5px 20vw;
}
#presentation ul li{
    padding: 5px 0;
}

#programmation{
    background-color: white;
    min-height: 90vh;

}

#artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 60px ;
    transition: 0.3s;
}
.artist{
    border-radius: 10px;
    background-color: white;
    margin: 100px;
    z-index: 2;
    box-shadow: 0 0 30px rgba(0 ,0, 0, .2);
    filter: grayscale(0%) blur(0px);
    transition: .3s,
                filter .4s,
                box-shadow .4s;

}
.artist:hover{
    box-shadow: 0 0 50px rgba(0 ,0, 0, .5);
    cursor: pointer;
}
.artist img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.artist_name h3{
    margin: 0;
    padding: 30px 20px 5px 20px;
    color: rgb(3,1,30);
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;

}


#partnersList{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 100px;

}
.partner {
    margin: 50px 50px;
    max-height: 300px;
    width: 200px;

}
