@media (min-device-width: 1051px){
    #mobile-menu-open{
        display: none;
    }
}
#covidContent{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
#covidContent div{
    width: 40vw;
    margin: 50px;
}
#covidContent div h1{
    font-family: Neuton, sans-serif;
    font-weight: normal;
    color: #030019;
    font-size: xx-large;
}
#covidContent div p, #covidContent div ul{
    font-family: 'Open Sans', sans-serif;
    text-justify: inter-word;
    text-align: justify;

}

#download {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#downloadImg{
    height: 30px;
}
#download button{
    background-color: rgb(3,1,40);
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 30px;
    box-shadow: 0 0 15px rgba(1,0,25,.4);
    transition: box-shadow .4s ;
    font-size: large;

}

#download button:hover{
    box-shadow: 0 0 35px rgba(1,0,25,.6);
    cursor: pointer;

}

#refund p a {
    color: rgb(3, 1, 30);
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s ease-out;
}

#refund p a:hover, #refund p a:focus {
    background-size: 100% 1px;
}