@media only screen and (max-device-width: 1050px){

    #accessContent{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #map {
        width: 100vw;
        height: 30vh;
        margin-top: 10vh;
    }
    #accessInformations{
        width: 100vw;
    }
}
