/*Mobile only css*/
@media only screen and (max-device-width: 1050px){
    #covidContent div h1{
        font-size: 60px;
    }
    #logoCorner{
        height: 100px;
        margin-left: 20px;
        top: 2vh;
    }
    header{
        background-color: rgb(3,1,40);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile-menu-open img{
        height: 60px;
        margin-right: 50px;
    }
    #mobile-menu-open{
        margin-left: auto;
    }
    nav{
        display: none;
        margin: 0;
    }
    #nav-item-list{
        display: block;
        padding: 0;
    }
    .nav-item{
        display: block;
        padding: 10px 40px;
    }
    .nav-item a{
        font-size: 5em;
    }
}