@media only screen and (max-device-width: 1050px){
    /*specify a size on mobile*/
    #content h2{
        font-size: 65px;
    }
    .artist{
        width: 700px;
    }
    .artist_name h3{
        font-size: 2.4em;
    }
    .artist_name p{
        font-size: 1.8em;
    }
    #logoGala{
        margin-bottom: 250px;
    }
    #presentation p{
        padding: 40px 100px ;
    }
    #presentation ul{
        padding: 40px 100px ;
    }


}